# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
space jam 2d/Temp/UnityLockfile
space jam 2d/Temp/__EditModeScene
space jam 2d/Library/CurrentMaximizeLayout.dwlt
space jam 2d/Library/CurrentMaximizeLayout.dwlt
space jam 2d/Library/CurrentMaximizeLayout.dwlt
*.dwlt
space jam 2d/Library/metadata/ec/ecdead831b37e934583d7b51131128e5
*.dll
*.mdb
*.dll
space jam 2d/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
